
@charset "UTF-8";

* {
    box-sizing: border-box;

}

html {
    font-size: 100%;
}

body {
    font-family: Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 16px;
    font-size: 14px;
    line-height: normal;
}

#header {
    width: 100%;
}

#header .header-img {
    background-image: url('./img/mainvisual.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#header .header-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    color: white;
    font-weight: bold;
    font-size: 14.4px;
    line-height: 24.4px;
    padding-top: 20px;
    padding-right: 32px;
}

#header .header-title {
    text-align: center;
    margin-top: 205px;
}

#header .header-title img {
    /* display: block; */
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .header-title {
        padding-top: 13px;
    }

    #header .header-list {
        column-gap: 29px;
        padding-right: 38px;
    }
}
